<a href="https://colab.research.google.com/github/jaydextra/IBM-Data-Science-Course/blob/Master/Homework_2_Into_Data_Mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### creating R Vector

In [1]:

mileage <- c(65311, 65624, 65908, 66219, 66499, 66821, 67145, 67447)

#### calcutate diff() on data

In [2]:
#calcutate diff() on data
differences <- diff(mileage)
differences

[1] 313 284 311 280 322 324 302

#### Calc length() to find the lengths of the miles and x vectors.

In [3]:


length(mileage)

length(differences)

[1] 8

[1] 7

#### Explain the result
#### The length() function returns the number of elements in a vector. Our original vector contained 8 elements. The diff() function calculates the differences between consecutive elements. After applying diff() we end up with one less element giving us a length of 7.

#### maximum and minimum number of miles between fill-ups

In [7]:
max(differences)
min(differences)

[1] 324

[1] 280

#### The average number of miles between fill-ups

In [8]:
mean(differences)

[1] 305.1429

#### The standard deviation

In [9]:
sd(differences)

[1] 17.43969

#### 2. Create Commute Vector

In [10]:
commute <- c(17, 16, 20, 24, 22, 15, 21, 15, 17, 22)

#### Average and a statistical summary

In [11]:
mean(commute)
summary(commute)

[1] 18.9

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  15.00   16.25   18.50   18.90   21.75   24.00

#### Replace 18 in vector with 24

In [12]:
 # Find the index
x <- which(commute == 24)

# Replace the value
commute[x] <- 18

# Calculate the new average
mean(commute)

[1] 18.3

#### How many times commute was greater than 20

In [13]:
sum(commute >= 20)

[1] 4

#### What percent of your commutes are less than 17 minutes? How can you answer this with R?

In [15]:
# Count how many times the commute was less than 17 minutes
Commute_under_17 <- sum(commute < 17)

# Calculate the percentage
(Commute_under_17 / length(commute)) * 100

[1] 30

#### Briefly explain the result of the following commands.

In [18]:
#This will add 1 to each vector element
commute + 1

 [1] 18 17 21 19 23 16 22 16 18 23

In [19]:
# This will return the vector without the 6th element
commute[-6]

[1] 17 16 20 18 22 21 15 17 22

In [20]:
# This will return the count when commute vector was greater than 21 or less than 16
sum(commute>21 | commute<16)

[1] 4

In [22]:
# this will only return elements that are greater than 17.
commute[commute>=17]

[1] 17 20 18 22 21 17 22

In [23]:
# this first returns all elements greater than 20 then adds them up
sum(commute[commute>20])

[1] 65

In [ ]:
# this will extract the elements in the 4 through 6 indexed
commute[4:6]

#### 3. Use R to compute the following functions. Note, we use xi to denote the first element of x (which is 1) etc.

In [24]:
x <- c(1, 8, 2, 6, 3, 8, 5, 5, 5, 5)

In [26]:
# (x1 + x2 + x3 + â€¦ + x10)/10 (use sum)
(x[1] + x[2] + x[3] + x[4] + x[5] + x[6] + x[7] + x[8] + x[9] + x[10]) / 10

[1] 4.8

In [28]:
# Find log10(xi) for every i (use log function, beware it defaults to e)
log(x) / log(10)

 [1] 0.0000000 0.9030900 0.3010300 0.7781513 0.4771213 0.9030900 0.6989700
 [8] 0.6989700 0.6989700 0.6989700

In [29]:
# Find (xi4.4)/2.875 for each i (all at once)
x^4.4 / 2.875

 [1]    0.3478261 3273.0911040    7.3433484  923.0551563   43.7215623
 [6] 3273.0911040  413.8378128  413.8378128  413.8378128  413.8378128

In [30]:
# Find the difference between the largest and smallest values of x.
diff(range(x))

[1] 7

#### 4. Your cell phone bill varies from month to month. Suppose that your bills had the following monthly amounts last year:

In [31]:
bill = c(46, 33, 39, 37, 46, 30, 48, 32, 49, 35, 30, 48)

# Run the following calculations, and explain its result:

range(bill) # it returns the min and max element in the vector
range(bill)[2] - range(bill)[1] #this find the diff from the max vector in index 2 and the min vector in index 1

[1] 30 49

[1] 19

In [33]:
# months was the amount greater than $40
months_greater_40 <- sum(bill > 40)
months_greater_40

# percantage month was greater than $40
(months_greater_40  / length(bill)) * 100

[1] 5

[1] 41.66667